# Unity-specific files
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Oo]bj/
[Uu]serSettings/
MemoryCaptures/
Packages/com.unity.package-manager.cache/

# Build results
*.apk
*.aab
*.unitypackage
*.exe
*.app
*.so
*.dll
*.pdb
*.ilk
*.manifest

# OS-specific files
.DS_Store
Thumbs.db

# Visual Studio files
*.sln
*.csproj
*.unityproj
*.suo
*.user
*.vcxproj
*.pidb
*.svd
*.mode1v3
*.mode2v3
*.solutioninfo
